<form #addPlaylistForm="ngForm" (ngSubmit)="onSubmit(title)">
    <div class="field">
        <label for="title">Playlist title</label>
        <input type="text" name="title" id="title" [(ngModel)]="title" #nameControl placeholder="Type a title" required>
    </div>
    <div class="field" *ngFor="let song of songs">
        <div class="checkbox">
            <input type="checkbox" (change)="onAddToPlaylist($event, song)">
        </div>
        <div class="trigger">
            <div (click)="onSongClick(song)">
                <div class="songInfo">
                    <h4>{{song.singer}}</h4>
                    <h5>{{song.title}}</h5>
                </div>
                <div class="songControls">
                    <button><span class="play"></span></button>
                </div>
            </div>
        </div>
    </div>
    <button type="submit">Add playlist</button>
</form>
<footer-shelf [selectedSong]="selectedSong" [songs]="songs" *ngIf="selectedSong"></footer-shelf>
