.trigger{
  width: auto;
  max-width: 100%;
  min-width: 25%;
  text-align: center;
  border:1px solid #000;
  margin-bottom: 30px;
  display: block;
  float: left;
  cursor: pointer;
  position: relative;
}

.trigger h2{
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.active{
  background: darkblue;
}
.active h2{
  color: #fff;
}

span{
  position: absolute;
  right: 0;
  top: -20px;
  display: block;
  z-index: 100;
  cursor: pointer;
}

span:hover{
  outline:1px solid #000000;
}
