.trigger {
    max-width: 100%;
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 15px;
    display: block;
    float: left;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

.songControls {
    width: 25%;
    float: right;
}

.songInfo {
    width: 75%;
    float: left;
}

.trigger h4 {
    font-size: 16px;
    text-transform: capitalize;
}

.trigger h5 {
    font-size: 14px;
    text-transform: capitalize;
}

.active {
    background: #ff926d;
    outline: none;
}

.active h2 {
    color: #fff;
}

.trigger button {
    outline: none;
    border: none;
    background: #6e4b8f;
    float: right;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    border: 2px solid #fff;
    text-align: center;
    position: relative;
}

span:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #fff;
}

span.play:after {
    content: '\25BA';
    margin-right: -3px;
    font-size: 14px;
    line-height: 26px;
}

span.stop:after {
    content: '\25A0';
    line-height: 19px;
    font-size: 22px;
}
