.playlistControl{
  padding: 15px;
  border-bottom: 1px solid #000;
}
.playlistControl button,.playlistControl a{
  display: block;
  float: right;
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background: #6f4c90;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
.playlistControl a{
  margin-right: 0;
}

app-tabs-triggers{
  height: 79vh;
  overflow-y: scroll;
}

app-tabs-content{
  height: 0px;
}

footer-shelf{

}

:host{
  position: relative;
}

@media (max-width:500px) {
  .playlistControl select{
    padding: 5px;
    height: 30px;
  }
  footer-shelf{
    width: 100%;
  }
  app-tabs-triggers{
    height: 75vh;
    margin: 0;
    padding: 20px;
  }
}
