<div class="playlist-control">
    <select name="playlists" id="playlists"  [(ngModel)]="choosePlaylist" (change)="onListChange(choosePlaylist)">
        <option selected disabled>Choose playlist</option>
        <option [ngValue]="list" *ngFor="let list of playlists">{{list.title}}</option>
    </select>
    <button (click)="edit(choosePlaylist.id)">Edit</button>
    <button [routerLink]="['../playlist-add']">Add playlist</button>
</div>
<section class="playlist-view">
    <app-playlist-item *ngFor="let song of songs let i=index" [data]="song" (selectedSong)="onSongClick(songs, i)"></app-playlist-item>
</section>
<app-player-shelf [selectedSong]="selectedSong" [songs]="selectedSongs" *ngIf="selectedSong"></app-player-shelf>
