:host {
    position: relative;
}

.playlist-view {
    height: 79vh;
    overflow-y: scroll;
    display: block;
    padding: 20px;
}

.playlist-control {
    padding: 15px;
    border-bottom: 1px solid #000;
}

.playlist-control button, .playlist-control a {
    display: block;
    float: right;
    padding: 5px;
    border: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #6f4c90;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.playlist-control a {
    margin-right: 0;
}

@media (max-width: 500px) {
    .playlist-control select {
        padding: 5px;
        height: 30px;
    }

    app-player-shelf {
        width: 100%;
    }

    app-playlist-item {
        height: 75vh;
        margin: 0;
        padding: 20px;
    }
}
