<div class="progress" *ngIf="audio" #trackTime>
    <div class="songTime" [ngStyle]="{'width.%' : (audio.currentTime / audio.duration) * 100}"></div>
</div>
<audio *ngIf="audio" #audioOption>
    <source src="">
</audio>
<div class="controls">
    <div class="songControls">
        <button (click)="takeUrl()"><span [ngClass]="playStatus ? 'stop' : 'play'"  ></span></button>
    </div>

    <div class="songInfo">
        <h4>{{selectedSong.singer}}</h4>
        <h5>{{selectedSong.title}}</h5>
    </div>
</div>
