<section *ngIf="playlist">
    <form #editPlaylistForm="ngForm" (ngSubmit)="onSubmit(playlist)">
        <div class="field">
            <label for="title">Playlist title</label>
            <input type="text" name="title" id="title" [(ngModel)]="playlist.title" #nameControl
                   placeholder="Type a title" required>
        </div>
        <div class="field" *ngFor="let song of songs let i=index">
            <div class="checkbox">
                <input type="checkbox" (change)="onAddToPlaylist($event, song)" [checked]="isChecked(song)">
            </div>
            <app-playlist-item [data]="song" (click)="onSongClick(song)"
                               [ngClass]="{'play' : playSongUrl === song.id}"></app-playlist-item>
        </div>
        <div class="form-buttons">
            <button *ngIf="editFlag" type="submit">Update playlist</button>
            <button *ngIf="!editFlag" (click)="addPlaylist(playlist.title)">Add playlist</button>
        </div>
    </form>
    <app-player-shelf [selectedSong]="selectedSong" [songs]="songs" *ngIf="selectedSong"></app-player-shelf>
</section>