.progress {
    width: 100%;
    height: 15px;
}

.progress-bar, .progress-bar {
    height: 15px;
    width: 0;
    display: block;
    float: left;
}

.progress-bar {
    background: #6f4c90;
}

.progress-bar-orange {
    background: #dc7001;
}

form {
    max-width: 80%;
    min-width: 20%;
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

form input {
    width: 100%;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 16px;
    text-indent: 15px;
}

form input[type=file] {
    margin-bottom: 15px;
    position: relative;
    z-index: 100;
}

form label {
    margin-bottom: 15px;
    display: block;
}

form button {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    line-height: 30px;
    background: #6f4c90;
    color: #fff;
    cursor: pointer;
    border: 0;

}

form button:hover {
    background: #4d356b;

}

form textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 120px;
    margin-bottom: 15px;
    text-indent: 15px;
    padding-top: 10px;
    font-size: 16px;
}

#upload {
    opacity: 0;
}

.upload-wrap {
    position: relative;
    background: #6f4c90;
}

.upload-wrap:after {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 6px;
    top: 6px;
    content: '';
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
}

.hidden {
    height: 0;
    opacity: 0;
}

.upload-wrap span {
    position: absolute;
    left: 55px;
    top: 15px;
    color: #fff;
}

.upload-wrap.detected:after {
    content: '\2714';
}

@media (max-width: 670px) {
    form{
        max-width:100%;
    }
    form input {
        margin-bottom: 15px;
    }
}
