

.main-display{
  width: 90%;
  display: block;
  float: left;
}

@media (max-width: 1200px){
    .main-display{
        width: 100%;
    }
    .main-display.min{
        width: calc(100% - 120px);
    }
}

@media (max-width: 550px) {
  .main-display.min{
    width: 100%;
  }
}
