/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{

}
app-tabs-triggers{
  display: block;
  float: left;
  width: 100%;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  background: rgba(255,255,255,0.7);
}

